#so this is the .env.example file, where we outline the structure of a .env, since we cannot
#push a .env file into the repo


# so this all our secrets abt postgres db.
DB_HOST=change
DB_PORT=chnage
DB_NAME=change
DB_USER=change
DB_PASSWORD=change
DATABASE_URL=change
#postgres is deprecated, gemini says


#hope there is more secrets to add in future, but for now this is it.


